<!doctype html>
    <title>Duo Identification Check</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
          <div class="page">
              <h1 align="center">Duo Identification Check</h1>
                  {% if not session.logged_in %}
                    <a href="{{ url_for('login') }}" class="button1" style="display:block;margin-left:auto;margin-right:auto">Validate User</a>
                  {% else  %}
                    <a href="{{ url_for('logout') }}" class="button2" style="display:block;margin-left:auto;margin-right:auto">Reset</a>
                  </br>
                  {% endif %}
              {% block body %}{% endblock %}
          </div>
